<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->


    <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}"
          rel="stylesheet"/>

    <link href="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.min.css') }}"
          rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

</head>
<body>
<h2 id="basic-events-table"></h2>
<div class="col-md-1">
    <div id="author-actions" class="btn-group">


        <button class="btn btn-default" id="previous" data-method="refresh">
            previous
        </button>
        <button class="btn btn-default" id="next" data-method="refresh">
            next
        </button>
    </div>
</div>
<div class="col-md-11">

    {% block content %}{% endblock %}
</div>
<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/jquery-ui/ui/widget.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/jquery-ui/ui/accordion.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.min.js') }}"></script>
{% block js_footer %}{% endblock %}
</body>
</html>