<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}"
          rel="stylesheet"/>

    <link href="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.min.css') }}"
          rel="stylesheet"/>
    <link href="{{ url_for('static', filename='bower_components/bootstrap-editable/libs/bootstrap/css/bootstrap.min.css') }}"
          rel="stylesheet"/>
    <link href="{{ url_for('static', filename='bower_components/bootstrap-editable/libs/bootstrap/css/bootstrap-responsive.min.css') }}"
          rel="stylesheet"/>
    <link href="{{ url_for('static', filename='bower_components/bootstrap-editable/src/css/bootstrap-editable.css') }}"
          rel="stylesheet"/>


</head>
<body>

<div id="timeperiod_navigation" class="btn-group btn-group-justified" role="group" aria-label="foo">
    <div class="btn-group" role="group">
        <button id="previous" type="button" class="btn btn-default">Left</button>
    </div>
    <div class="btn-group" role="group">
        <button id="current" type="button" class="btn btn-default">Middle</button>
    </div>
    <div class="btn-group" role="group">
        <button id='next' type="button" class="btn btn-default">Right</button>
    </div>
</div>

<div class="col-md-11">

    {% block content %}{% endblock %}
</div>
<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/jquery-ui/ui/widget.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/jquery-ui/ui/accordion.js') }}"></script>
{#<script type="text/javascript"#}
{#        src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>#}
<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/bootstrap-editable/libs/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/bootstrap-editable/src/js/bootstrap-editable.js') }}"></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='bower_components/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/mindmup-editabletable.js') }}"></script>


{% block js_footer %}{% endblock %}
</body>
</html>