{% extends "base.html" %}

{% block content %}

    <table id="authors-table" data-card-view="false" data-timeperiods="{{ timeperiods }}" data-toggle="table">
        <thead>
        <tr>
            {% for title in titles %}
                <th data-field="{{ title }}">{{ title }}</th>
            {% endfor %}
        </tr>
        </thead>
    </table>
{% endblock %}

{% block js_footer %}
    <script>
        function make_table_editable() {
            $('#authors-table').editableTableWidget();

            $('#authors-table').editableTableWidget({
                cloneProperties: ['background', 'border', 'outline']
            });
            $('#authors-table td').on('change', function (evt, newValue) {
                var idx = evt.currentTarget.cellIndex;
                var properties = JSON.parse(localStorage.getItem('properties'));
                var data = [properties[idx], newValue];
                var timeperiod = localStorage.getItem('timeperiod');
                var author_id = evt.target.parentNode.id;
                $.ajax({
                    method: 'PUT',
                    url: timeperiod + '/' + author_id,
                    data: JSON.stringify(data),
                    dataType: 'json'
                });
            });
        }

        function responseHandler(res) {
            return res.timeperiod;
        }

        $(function () {
            var timeperiod_idx = 0;


            function update_navigation() {
                var timeperiods = $('#authors-table').data('timeperiods');
                var previous_idx = (((timeperiod_idx - 1) % timeperiods.length) + timeperiods.length) % timeperiods.length;
                var next_idx = (timeperiod_idx + 1) % timeperiods.length;
                $('#previous').text($('#authors-table').data('timeperiods')[previous_idx]);
                $('#current').text($('#authors-table').data('timeperiods')[timeperiod_idx]);
                $('#next').text($('#authors-table').data('timeperiods')[next_idx]);
            }

            $.getJSON("timeperiod/" + $('#authors-table').data('timeperiods')[timeperiod_idx], function (res) {

                update_navigation();
                $('#authors-table')
                        .bootstrapTable('load', res.timeperiod)
                        .after(function () {
                    localStorage.setItem('properties', JSON.stringify(res.properties));
                    localStorage.setItem('timeperiod', $('#authors-table').data('timeperiods')[timeperiod_idx]);
                    make_table_editable();
                });
            });

            $('#timeperiod_navigation').click(function (e) {
                var timeperiods = $('#authors-table').data('timeperiods');
                if (e.target.id === 'next') {
                    timeperiod_idx = (timeperiod_idx + 1) % timeperiods.length;
                }
                if (e.target.id === 'previous') {
                    timeperiod_idx = (((timeperiod_idx - 1) % timeperiods.length) + timeperiods.length) % timeperiods.length;
                }

                $.getJSON("timeperiod/" + timeperiods[timeperiod_idx], function (res) {
                    update_navigation();
                    $('#authors-table').bootstrapTable('load', res.timeperiod).after(function () {
                        localStorage.setItem('properties', JSON.stringify(res.properties));
                        localStorage.setItem('timeperiod', $('#authors-table').data('timeperiods')[timeperiod_idx]);
                        make_table_editable();
                    });
                });
            });
        });
    </script>

{% endblock %}